 .card__info{
     z-index: 2;
     background-color: #fff;
     border-bottom-left-radius: 12px ;
     border-bottom-right-radius: 12px ;
     padding: 16px 24px 24px 24px;
 }
 .card__category{
     font-weight: 'Raleway',sans-serif;
     text-transform: uppercase;
     font-size: 13px;
     letter-spacing: 2px;
     font-weight: 500;
     color: #868686;
 }
 .card__tittle{
     margin-top:5px;
     margin-bottom: 10px;
     font-family: 'Roboto Slab', serif;
 }
 .card__by{
     font-size: 12px;
     font-family: 'Raleway',sans-serif;
     font-weight: 500;
 }
 .card__author{
     font-weight: 600;
     text-decoration: none;
     color:#AD7D52;
 }
 .card:hover .card__img--hover{
     height: 100%;
     opacity: 0.3;
 }
 .card:hover .card__info{
     background-color: transparent;
     position: relative;
 }
 .card:hover .card__info-hover{
     opacity: 1;
 }
 .navbar:hover{
     
 }